# Елисеев Е.В. 
# Решение Задачи 1 "Изучение критической температуры сверхпроводников"

https://www.kaggle.com/competitions/critical-temperature-of-superconductors

## Считывание данных

In [1]:
import pandas as pd

# Считываем тренировочные данные
train = pd.read_csv("data/train.csv.zip")
formula_train = pd.read_csv("data/formula_train.csv.zip")

# Считываем тестовые данные
test = pd.read_csv("data/test.csv.zip")
formula_test = pd.read_csv("data/formula_test.csv.zip")

print(f"Train dataset shape: {train.shape}")
print(f"Train_formula dataset shape: {formula_train.shape}")
print(f"Test dataset shape: {test.shape}")
print(f"Test_formula dataset shape: {formula_test.shape}")

Train dataset shape: (17010, 82)
Train_formula dataset shape: (17010, 88)
Test dataset shape: (4253, 81)
Test_formula dataset shape: (4253, 87)

## Исследование данных

In [2]:
train.head()

,number_of_elements,mean_atomic_mass,wtd_mean_atomic_mass,gmean_atomic_mass,wtd_gmean_atomic_mass,entropy_atomic_mass,wtd_entropy_atomic_mass,range_atomic_mass,wtd_range_atomic_mass,std_atomic_mass,...,wtd_mean_Valence,gmean_Valence,wtd_gmean_Valence,entropy_Valence,wtd_entropy_Valence,range_Valence,wtd_range_Valence,std_Valence,wtd_std_Valence,critical_temp
0,4,88.944468,57.862692,66.361592,36.116612,1.181795,1.062396,122.90607,31.794921,51.968828,...,2.257143,2.213364,2.219783,1.368922,1.066221,1,1.085714,0.433013,0.437059,29.0
1,5,92.729214,58.518416,73.132787,36.396602,1.449309,1.057755,122.90607,36.161939,47.094633,...,2.257143,1.888175,2.210679,1.557113,1.047221,2,1.128571,0.632456,0.468606,26.0
2,4,88.944468,57.885242,66.361592,36.122509,1.181795,0.975980,122.90607,35.741099,51.968828,...,2.271429,2.213364,2.232679,1.368922,1.029175,1,1.114286,0.433013,0.444697,19.0
3,4,88.944468,57.873967,66.361592,36.119560,1.181795,1.022291,122.90607,33.768010,51.968828,...,2.264286,2.213364,2.226222,1.368922,1.048834,1,1.100000,0.433013,0.440952,22.0
4,4,88.944468,57.840143,66.361592,36.110716,1.181795,1.129224,122.90607,27.848743,51.968828,...,2.242857,2.213364,2.206963,1.368922,1.096052,1,1.057143,0.433013,0.428809,23.0

In [3]:
formula_train.head()

,H,He,Li,Be,B,C,N,O,F,Ne,...,Au,Hg,Tl,Pb,Bi,Po,At,Rn,critical_temp,material
0,0.0,0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,29.0,Ba0.2La1.8Cu1O4
1,0.0,0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,26.0,Ba0.1La1.9Ag0.1Cu0.9O4
2,0.0,0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,19.0,Ba0.1La1.9Cu1O4
3,0.0,0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,22.0,Ba0.15La1.85Cu1O4
4,0.0,0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,23.0,Ba0.3La1.7Cu1O4

In [4]:
print("Number of missing values in train datasets:")
print(train.isna().sum().sum())
print(formula_train.isna().sum().sum())

Number of missing values in train datasets:
0
0

In [5]:
print("Number of missing values in test datasets:")
print(test.isna().sum().sum())
print(formula_test.isna().sum().sum())

Number of missing values in test datasets:
0
0

## Предобработка данных

In [6]:
formula_train = formula_train.drop(columns=['critical_temp'])
train_full = pd.concat([train, formula_train], axis=1)
train_full.drop(columns=['material'], inplace=True)

test_full = pd.concat([test, formula_test], axis=1)
test_full.drop(columns=['material'], inplace=True)

In [7]:
X = train_full.drop(columns=['critical_temp'])
y = train_full['critical_temp']

## Обучение модели

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)
print(f'Train dataset size: {X_train.shape}, {y_train.shape}')
print(f'Test dataset size: {X_test.shape}, {y_test.shape}')

Train dataset size: (11907, 167), (11907,)
Test dataset size: (5103, 167), (5103,)

In [9]:
# Используем случайный лес с 20 деревьями

model = RandomForestRegressor(n_estimators=20)
model.fit(X_train, y_train)

kfold = KFold(n_splits=5, shuffle=True)
scores = cross_val_score(model, X, y, cv=kfold, scoring='r2')
y_pred = model.predict(X_test)

print(scores)
print(scores.mean())
print('Mean Absolute Error:', mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', mean_squared_error(y_test, y_pred))
# R2 можно интерпретировать как долю объясненной дисперсии в данных. 
# Например, R2 = 0.8 означает, что 80% изменчивости зависимой переменной объясняется моделью.
print('R2 score:', r2_score(y_test, y_pred))

[0.91770171 0.92175568 0.92018968 0.91642586 0.92188148]
0.919590882095957
Mean Absolute Error: 5.542423809549581
Mean Squared Error: 104.4795918732697
R2 score: 0.9100472363715597

## Предсказание ответа для тестового набора данных

In [10]:
y_pred_test = model.predict(test_full.values)
y_pred_test = pd.DataFrame(y_pred_test, columns=['critical_temp'])
y_pred_test

d:\WorkData\SusuRepos\workshop-projects\.venv\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

      critical_temp
0         21.565000
1         25.966667
2         92.193333
3         80.725000
4         88.703333
...             ...
4248      25.155000
4249       5.466000
4250       2.929000
4251       2.089000
4252       2.089000

[4253 rows x 1 columns]

In [11]:
y_pred_test.to_csv("predict.csv", index=False)